.home {
	.home__inner {
		.home-page {
			&.bg-about {
				background-image: url(../img/home/03.jpg);
			}
		}
	}
}

// ==============================================================================================
.designe-video {
	padding: 0px 0px 100px 0px;
	@media (max-width: 767.98px) {
		padding: 0px 0px 50px 0px;
	}
	.designe-video__video {
		.video__item {
			width: 100%;
			position: relative;
			padding: 0px 0px 49% 0px;

			.item-video {
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// ==============================================================================================
.article-block {
	padding: 0px 0px 120px 0px;

	@media (max-width: 767.98px) {
		padding: 0px 0px 40px 0px;
	}

	.article-block__text {
		&.article-block__text-align {
			text-align: left;

			p {
				margin: 0px 0px 20px 0px;
			}
		}
	}
}

// ==============================================================================================

.successful {
	background: #d3d3d3;
	position: relative;
	padding: 80px 0;

	@media (max-width: 479.98px) {
		padding: 20px 0;
	}

	.successful__inner {
		.successful__row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.successful__image {
				flex: 0 0 53%;

				@media (max-width: 479.98px) {
					flex: 0 0 50%;
				}
			}

			.successful__title {
				text-align: right;
				font-weight: 700;
				font-size: 50px;
				line-height: 135%;
				color: #191919;

				b {
					font-size: 150px;
				}

				@media (max-width: 991.98px) {
					font-size: 30px;

					b {
						font-size: 50px;
					}
				}

				@media (max-width: 991.98px) {
					font-size: 16px;

					b {
						font-size: 30px;
					}
				}
			}
		}

		.successful__body {
			position: relative;
			max-width: 800px;
			margin: 0 0 0 auto;

			.successful__text {
				color: #191919;

				p {
					margin: 0px 0px 15px 0px;

					&:last-child {
						margin: 0px 0px 0px 0px;
					}
				}
			}
		}
	}
}

// ==============================================================================================

.development-about {
	padding: 90px 0px 120px 0px;

	@media (max-width: 479.98px) {
		padding: 50px 0;
	}

	.development-about___text {
		max-width: 745px;
		margin: 0 auto;
		padding: 0px 0px 100px 0px;

		@media (max-width: 767.98px) {
			padding: 0px 0px 50px 0px;
		}

		p {
			margin: 0px 0px 15px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	.development-about__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px;

		.development-about__image {
			flex: 0 0 23.7%;
			position: relative;
			padding: 15px;

			img {
				height: 263px;
				object-fit: cover;
			}

			@media (max-width: 767.98px) {
				padding: 5px;

				img {
					height: 150px;
				}
			}
		}
	}

	.development-about__btn {
		margin: 100px 0px 0px 0px;
		text-align: center;

		@media (max-width: 767.98px) {
			margin: 40px 0px 0px 0px;
		}
	}
}

// ==============================================================================================

.useful-tips {
	padding: 0px 0px 120px 0px;
	@media (max-width: 479.98px) {
		padding: 0px 0px 45px 0px;
	}
	.useful-tips__title {
		padding: 0px 0px 30px 0px;
		text-align: center;
		border-bottom: 1px solid #d3d3d3;
	}
	.useful-tips__accordion {
		padding: 20px 0px 0px 0px;
		.useful-tips__item {
			.useful-tips__label {
				font-family: $fontFamily2;
				font-weight: 700;
				font-size: 24px;
				line-height: 27px;
				color: #e1dece;
				position: relative;
				margin: 0px 0px 30px 0px;
				display: flex;
				align-items: center;
				cursor: pointer;
				@media (max-width: 767.98px) {
					font-size: 14px;
					line-height: 17px;
					margin: 0px 0px 15px 0px;
				}
				@media (max-width: 479.98px) {
					align-items: flex-start;
					padding: 0px 20px 0px 0px;
				}
				&._icon-arrow-bottom {
					&::before {
						right: 20px;
						position: absolute;
						font-size: 19px;
						@media (max-width: 767.98px) {
							font-size: 10px;
						}
						@media (max-width: 767.98px) {
							right: 0;
							top: 6px;
						}
					}
				}
			}
			.useful-tips__content {
				position: relative;
				height: 0;
				overflow-y: auto;
				transition: 0.5s;
				p {
					margin: 0px 0px 15px 0px;
					@media (max-width: 767.98px) {
						font-size: 11px;
					}
				}
			}
			&.active {
				._icon-arrow-bottom {
					&::before {
						transform: rotate(-180deg);
					}
				}
				.useful-tips__content {
					height: 150px;
					margin: 0px 0px 30px 0px;
				}
			}
		}
	}
}

// ==============================================================================================

.create {
	.create__title {
		text-align: center;
		padding: 0px 0px 30px 0px;
		border-bottom: 1px solid #e1dece;
		margin: 0px 0px 30px 0px;
	}
	.create__inner {
		display: flex;
		.create__image {
			flex: 0 1 50%;
			img {
				height: 100%;
			}
		}
		.create__body {
			flex: 1 1 50%;
			background: #e1dece;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			display: flex;
			align-items: center;
			padding: 0 5px;
			@media (max-width: 767.98px) {
				align-items: flex-start;
			}
			.create__list {
				flex: 0 0 50%;
				padding: 0px 5px 0px 0px;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;
				justify-content: center;
				@media (max-width: 991.98px) {
					align-items: stretch;
					justify-content: space-between;
				}
				&:last-child {
					padding: 0px 0px 0px 0px;
					text-align: right;
				}
				li {
					font-family: $fontFamily2;
					font-weight: 700;
					font-size: 16px;
					line-height: 18px;
					color: #191919;
					margin: 0px 0px 34px 0px;
					&:last-child {
						margin: 0px 0px 0px 0px;
					}
					@media (max-width: 991.98px) {
						margin: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
					}
					@media (max-width: 767.98px) {
						font-size: 14px;
						line-height: 16px;
					}
					@media (max-width: 479.98px) {
						font-size: 10px;
						line-height: 12px;
						margin: 0px 0px 10px 0px;
					}
				}
			}
		}
	}
}
