footer {
	padding: 32px 0;
	.footer__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		.footer__body {
			flex: 0 0 46%;
			.footer__columns {
				display: flex;
				.footer__item {
					flex: 0 0 50%;
					margin: 0px 0px 30px 0px;
					.footer__title {
						font-size: 15px;
						line-height: 18px;
						margin: 0px 0px 15px 0px;
					}
					.footer__phone {
						a {
							font-weight: 300;
							font-size: 15px;
							line-height: 167%;
							color: #e1dece;
							display: block;
							transition: color 0.3s ease 0s;
							@media (min-width: 991.98px) {
								&:hover {
									color: #fff;
								}
							}
						}
					}
					.footer__social {
						a {
							display: inline-block;
							margin: 0px 15px 0px 0px;
							border: 1px solid #e1dece;
							color: #e1dece;
							border-radius: 50%;
							text-align: center;
							width: 30px;
							height: 30px;
							line-height: 30px;
							transition: all 0.3s ease 0s;
							@media (min-width: 991.98px) {
								&:hover {
									color: #fff;
									border-color: #fff;
								}
							}
							&:last-child {
								margin: 0px 0px 0px 0px;
							}
						}
					}
					.footer__addres {
						font-weight: 300;
						font-size: 15px;
						line-height: 167%;
						color: #e1dece;
					}
					.footer__email {
						a {
							font-size: 15px;
							line-height: 18px;
							color: #e1dece;
							word-break: break-word;
						}
					}
				}
			}
		}
		.footer__map {
			flex: 0 0 50%;
			img {
				border-radius: 5px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	footer {
		.footer__inner {
			flex-direction: column-reverse;
			.footer__body {
				margin: 25px 0px 0px 0px;
				.footer__columns {
					.footer__item {
						.footer__title {
							font-size: 16px;
						}
						.footer__addres {
							font-size: 14px;
						}
						.footer__phone {
							a {
								color: #fff;
								font-size: 14px;
							}
						}
						.footer__email {
							a {
								font-size: 14px;
							}
						}
						.footer__social {
							a {
								font-size: 14px;
								margin: 0px 9px 0px 0px;
								width: 25px;
								height: 25px;
								line-height: 25px;
							}
						}
					}
				}
			}
			.footer__map {
				flex: 0 0 50%;
				img {
					border-radius: 5px;
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	footer {
		.footer__inner {
			flex-direction: column-reverse;
			.footer__body {
				width: 100%;
				margin: 25px 0px 0px 0px;
				.footer__columns {
					.footer__item {
						.footer__title {
							font-size: 14px;
						}
						.footer__addres {
							font-size: 12px;
						}
						.footer__phone {
							a {
								color: #fff;
								font-size: 12px;
							}
						}
						.footer__email {
							a {
								font-size: 12px;
							}
						}
						.footer__social {
							a {
								font-size: 14px;
								margin: 0px 4px 10px 0px;
								width: 25px;
								height: 25px;
								line-height: 25px;
							}
						}
					}
				}
			}
		}
	}
}
